/* *********************** */
/* NAV  SECTION*/
/* *********************** */
.nav-section {
    background-color: #f5f6f9;
}
.nav-main-container {
    display: flex;
    justify-content: space-between;
    padding: 3.8rem 5rem;
    background-color: #f5f6f9;
}
.nav-icon-box {
    display: block;
}
.nav-links-box {
    display: flex;
    align-items: center;
}
.nav-links-box ul {
    display: flex;
    gap: 4.8rem;
}
.nav-links-box ul li {
    font-size: 1.6rem;
    font-weight: 400;
    color: #000000;
}
