* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
html {
    /* font-size: 10px; */
    font-size: 62.5%;
}
body {
    font-family: "Inter", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #3b3a40;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit; /* Inherits color from parent element */
}
/* .main-page {
    background-color: #f5f6f9;
} */
